body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 24px;
  background-color: lightyellow;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-area {
  padding: 16px;
  width: calc(100dvw - 32px);
  height: calc(100dvh - 152px);
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: scroll;
  border-radius: 8px;
}

.message {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px;
  border-radius: 8px;
}

.react-markdown {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.react-markdown > * {
  margin: 0;
  word-break: keep-all;
}

.react-markdown > pre {
  padding: 16px;
  border: 1px dashed black;
  border-radius: 8px;
}

.user-message {
  align-self: end;
  background-color: lightskyblue;
}

.assistant-message {
  align-self: start;
  background-color: lightpink;
}

.face-icon {
  font-size: 40px;
}

.chat-form {
  position: absolute;
  bottom: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  background-color: lightskyblue;
  border-radius: 8px;
}

input {
  width: 400px;
  height: 32px;
  border-radius: 8px;
  font-size: 16px;
}

button {
  width: 64px;
  height: 32px;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 16px;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
